<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actorAdam" class="com.stackroute.domain.Actor" >
        <constructor-arg type="String" value="Adam Levine"/>
        <constructor-arg type="String" value="Male"/>
        <constructor-arg type="int" value="49"/>
    </bean>
    <bean id="actor1" class="com.stackroute.domain.Movie" scope="prototype">
        <property name="actor" ref="actorAdam"/>
    </bean>


    <bean id="actorRanveer" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="Ranveer Kapoor"/>
        <constructor-arg type="String" value="Male"/>
        <constructor-arg type="int" value="12"/>
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actorRanveer"/>
    </bean>


    <bean id="actorAnne" class="com.stackroute.domain.Actor">
        <constructor-arg type="String" value="Anne Hathaway"/>
        <constructor-arg type="String" value="Female"/>
        <constructor-arg type="int" value="29"/>
    </bean>
    <bean id="actor3" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actorAnne"/>
    </bean>
</beans>